<!doctype html>
<html ng-app="mainApp">
  <head>
    <title>My Angular App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  </head>
  <body>
    <div ng-controller="MyController">
     <!-- $scope data available in this div only-->
     Hi, {{ firstName}} {{ lastName }}<br />
     
     {{ greeting() }}<br /><br />
    </div>
    <div ng-controller="MyOtherCtrl">
      First Name: <input ng-model='student.firstName'>
      Last Name: <input ng-model='student.lastName'>
   
      First Name:  {{student.firstName}}
      Last Name:  {{student.lastName}}
    </div>
  </body>
  <script src="javascript/app.js"></script>
  <script src="javascript/controller.js"></script>
</html>